# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
ENV/
env/

# Django
*.migrations/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Media
/media/
materials/

# Secrets
*.env
