# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
ENV/
env/
temp_venv/
dist/
build/

# Django
*.migrations/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Media
/media/
materials/

# Secrets
*.env

# Temp Fix Venv
fix_venv/
